.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.card {
  width: 200px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgb(45, 255, 87);
  text-align: center;
  padding: 20px;
  border: 1px solid rgb(230,230,230);
  margin-top: 25px;
}

.card img {
  width: 130px;
}

.card p {
  color: #001F7E;
  opacity: .8;
  font-size: 12pt;
}
